<div class="accordion">
    <div class="accordion-item"> 
      <button class="accordion-header w-full flex justify-between items-center bg-lightgray-100 px-4 py-[15px] text-left" data-accordion-type="filter">
        <span>Filter</span>
        <img class="rotate-90" src="../icons/arrow-r.svg" alt="arrow right">
      </button>
      <div class="accordion-content hidden pt-[15px] pb-[30px] px-4 bg-[#E6E8EA]">
        <form class="flex flex-col gap-4">
          <select class="filter-select w-full px-4 py-[15px] border-0 text-base" name="industry" id="industry">
            <option value="" disabled selected>Branche</option>
            <option value="somevalue">Some Option</option>
            <option value="somevalue">Some Option</option>
            <option value="somevalue">Some Option</option>
          </select>
          <select class="filter-select w-full px-4 py-[15px] border-0 text-base" name="Anwendungen" id="Anwendungen">
            <option value="" disabled selected>Anwendungen</option>
            <option value="somevalue">Some Option</option>
            <option value="somevalue">Some Option</option>
            <option value="somevalue">Some Option</option>
          </select>
          <select class="filter-select w-full px-4 py-[15px] border-0 text-base" name="Objekte" id="Objekte">
            <option value="" disabled selected>Objekte</option>
            <option value="somevalue">Some Option</option>
            <option value="somevalue">Some Option</option>
            <option value="somevalue">Some Option</option>
          </select>
          <button class="w-full py-4 bg-green text-base tracking-[1.6px]  text-white uppercase" type="submit">
            Filter Anwenden
          </button>
          <button class="mt-[30px] flex justify-center gap-4 text-base text-green tracking-[1.6px] uppercase">
            <img src="../icons/green_X.svg" alt="">
            <span>alle filter löschen</span>
          </button>
        </form>
      </div>
    </div>
  </div>